@font-face {
  font-family: 'iconfont';  /* project id 1913263 */
  src: url('//at.alicdn.com/t/font_1913263_euf006f1lxv.eot');
  src: url('//at.alicdn.com/t/font_1913263_euf006f1lxv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1913263_euf006f1lxv.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1913263_euf006f1lxv.woff') format('woff'),
  url('//at.alicdn.com/t/font_1913263_euf006f1lxv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1913263_euf006f1lxv.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_s28n9kpqp6d.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_s28n9kpqp6d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_s28n9kpqp6d.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_s28n9kpqp6d.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_s28n9kpqp6d.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_s28n9kpqp6d.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.webfont {
  font-family: "webfont" !important;
  font-size: 35px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cai:before {
  content: "\e625";
}

.icon-pen:before {
  content: "\e729";
}

.icon-yaoqing:before {
  content: "\e61d";
}
.icon-jia:before{
  content: "\e60f";
}
.icon-zan1:before {
  content: "\e604";
}

.icon-jubao:before {
  content: "\e63b";
}

.icon-xiaoxi:before {
  content: "\e69e";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-zhe:before {
  content: "\eb47";
}

.icon-ye:before {
  content: "\ebba";
}

.icon-bangzhuzhongxin:before {
  content: "\e624";
}

.icon-wenti:before {
  content: "\e6ae";
}

.icon-down-fill-xs:before {
  content: "\e602";
}

.icon-shenglvehao:before {
  content: "\e68a";
}

.icon-huidaodingbu:before {
  content: "\e631";
}

.icon-pinglun1:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e6c1";
}

.icon-xihuan:before {
  content: "\e66f";
}

.icon-down-fill1-xs:before {
  content: "\e601";
}

.icon-xiaofeiji:before {
  content: "\e67a";
}

.icon-bell:before {
  content: "\e65a";
}

.icon-icon161603:before {
  content: "\e62b";
}

.icon-weibiaoti-_fuzhi:before {
  content: "\e605";
}

.icon-arrow-down:before {
  content: "\e7b2";
}
.icon-arrow-up:before {
  content: "\e642";
}



